button {
  width: 100%;
  padding: 12px 24px;
  font: 600 20px Poppins;
}

button.def {
  border: 0;
  background: #1771f7;
  color: #fff;
}

button.small {
  font-size: 14px;
  padding: 8px 12px;
}

button.out {
  background: transparent;
  color: #202020;
  border: 2px solid #202020;
}

@media (min-width: 720px) {
  button {
    width: initial;
  }
}
