{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "eslint-plugin-import-helpers"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "prefer-const": [1, { "destructuring": "all" }],
    "@typescript-eslint/explicit-function-return-type": 0,
    "no-unused-vars": [1, { "vars": "all" }],
    "import-helpers/order-imports": [
      1,
      {
        "groups": ["module", "/^react/", ["parent", "sibling", "index"]],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ]
  }
}
